Flask==0.10.1
Flask-Migrate==1.5.0
Flask-SQLAlchemy==2.0
Flask-Script==2.0.5
Jinja2==2.8
Mako==1.0.1
MarkupSafe==0.23
SQLAlchemy==1.0.8
Werkzeug==0.10.4
alembic==0.8.1
argparse==1.2.1
coverage==3.7.1
decorator==4.0.2
ipython==4.0.0
ipython-genutils==0.1.0
itsdangerous==0.24
numpy==1.9.2
pandas==0.16.2
pandas-highcharts==0.4.6
path.py==7.6
pexpect==3.3
pickleshare==0.5
psycopg2==2.6.1
python-dateutil==2.4.2
python-editor==0.3
pytz==2015.4
simplegeneric==0.8.1
six==1.9.0
traitlets==4.0.0
uWSGI==2.0.11.1
wsgiref==0.1.2
