    <!-- Header -->
    <header id="top" class="header" ng-show="fileUploaded == false">
        <div class="text-vertical-center">
            <div class="row">
                <div class="col-md-1"> </div>
                <div class="col-md-4 text-center">
                    <br>
                    <h1>#<b>group</b>Stats</h1>
                    <h4>Understand your friends. <br> Use your Whatsapp chat history.</h4>
                    <br>
                    <div class="btn btn-dark btn-lg" ng-file-select="onFileSelect($files,$scope)">Upload your Chat!</div>
                </div>
                <div class="col-md-7"> </div>
            </div>
        </div>
    </header>


    <div ng-show="fileUploaded == true">
      <div class="top-band"><h2>#groupDynamics</h2></div>
      <div ng-repeat="chartConfig in data.charts">
        <center><highchart config="data.charts[$index]"></highchart></center>
        <br><br>
      </div>
    </div>